:root {
  --primary-color: #d3d9ff;
  --secondary-color: #ededed;
  --tertiary-color: darkgray;
  --positiive-text-color: grey;
  --negative-text-color: white;
  --radius-gentle: 5px;
  --indicator-color: #ffffdf;
}
@keyframes turn-indicator {
  from {
    box-shadow: 0 0 20px 2px var(--indicator-color);
  }
  to {
    box-shadow: 0 0 40px 2px var(--indicator-color);
  }
}


html, body {
  margin: 0;
  padding: 0;
}

.anchor {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}

.container {
  width: 100%;
  height: 100%;
}

table {
  border-collapse: collapse;
  width: 40%;
  height: 80%;
}

td {
  border: 2px solid #36464b;
  border-radius: 6px;
  background-color: var(--primary-color);
}

#opponent-board {
  display: none;
}

#opponent-board.turn {
  animation-name: turn-indicator;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

#opponent-board:hover {
  cursor: crosshair;
}

#board {
  align-self: center;
}

#game-select {
  width: 202px;
  border-radius: var(--radius-gentle);
  padding: 3px 0;
  font-size: 1.1em
}

.game-container {
  width: 100vw;
  height: 100vh;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #36464b;
}

.selecting {
  background-color: #e7e09f;
}

.selected {
  background-color: green;
}

.preselected {
  background-color: red;
}

.none {
  background-color: blue;
}

#start-game {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
   perspective: 2800px;
  perspective-origin: 0% 50%;
}

.form {
  transition: transform 1s;
  position: absolute;
  user-select: none;
  border:1px solid black;
  border-radius: var(--radius-gentle);
  width: 300px;
  transform-style: preserve-3d;
  height: 200px;
  text-shadow: 1px 1px 1px black;
}

.form label {
  display: flex;
  border-radius: var(--radius-gentle);
  border: solid 1px grey;
  width: 200px;
}

.form input {
  flex: 1;
  height: 30px;
  border: none;
  border-top-right-radius: var(--radius-gentle);
  border-bottom-right-radius: var(--radius-gentle);
  border-left: 1px solid grey;
  width: 20px;
  font-size: 1.3em;
  text-align: center;
  color: transparent;
  text-shadow: 0 0 0 var(--positiive-text-color);
}


.form span {
  flex: 2;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: var(--tertiary-color);
  color: white;
  font-family: sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.form button {
  width: 202px;
  height: 32px;
  border: 1px solid grey;
  border-radius: var(--radius-gentle);
  background-color: var(--tertiary-color);
  color: var(--negative-text-color);
  font-family: sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.5em;
  text-shadow: 1px 1px 1px black;

}

button:hover {
  cursor: pointer;
}

.miss {
  background-color: blue;
}

.hit {
  background-color: red;
}

button.btn-spin {
  background-color: dodgerblue;
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  line-height: 27px;
  letter-spacing: 0px;
}
button.btn-spin:focus {
  outline: none;
}

.side-a, .side-b {
  border-radius: var(--radius-gentle);
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  backface-visibility: hidden;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
}

.side-b {
  transform: rotateY(180deg);
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  color: white;
  font-size: 2.5em;
  text-shadow: 1px 1px 3px black;
}

.overlay span {
  position: absolute;
  display: inline-block;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.afterText {
  position:absolute;
  left:100%;
}








