:root {
  --primary-color: #d3d9ff;
  --secondary-color: #ededed;
  --tertiary-color: darkgray;
  --positiive-text-color: grey;
  --negative-text-color: white;
  --radius-gentle: 5px;
  --indicator-color: #ffffdf;
}
@-webkit-keyframes turn-indicator {
  from {
    -webkit-box-shadow: 0 0 20px 2px var(--indicator-color);
            box-shadow: 0 0 20px 2px var(--indicator-color);
  }
  to {
    -webkit-box-shadow: 0 0 40px 2px var(--indicator-color);
            box-shadow: 0 0 40px 2px var(--indicator-color);
  }
}
@keyframes turn-indicator {
  from {
    -webkit-box-shadow: 0 0 20px 2px var(--indicator-color);
            box-shadow: 0 0 20px 2px var(--indicator-color);
  }
  to {
    -webkit-box-shadow: 0 0 40px 2px var(--indicator-color);
            box-shadow: 0 0 40px 2px var(--indicator-color);
  }
}


html, body {
  margin: 0;
  padding: 0;
}

.anchor {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}

.container {
  max-width: 100%;
  max-height: 100%;
}

table {
  border-collapse: collapse;
  width: 40%;
  /*height: 80%;*/
}
/*.box {
  width: 45%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left:19%;
  padding-right:19%;
  overflow: hidden;

}*/

td {
  position:relative;
  border: 2px solid #36464b;
  border-radius: 6px;
  background-color: var(--primary-color);
}

/*td:before {
  content:'';
  display: block;
  position: absolute;
  top: 0;
  bottom:0;
  left: 0;
  right:0;
}*/

td:after {
  content:'';
  display: block;
  margin-top: 100%;
}

#opponent-board {
  display: none;
}

#opponent-board.turn {
  -webkit-animation-name: turn-indicator;
          animation-name: turn-indicator;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

#opponent-board:hover {
  cursor: crosshair;
}

#board {
  -ms-flex-item-align: center;
      align-self: center;
}

#game-select {
  width: 202px;
  border-radius: var(--radius-gentle);
  padding: 3px 0;
  font-size: 1.1em
}

.game-container {
  width: 100vw;
  height: 100vh;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #36464b;
}

.selecting {
  background-color: #e7e09f;
}

.selected {
  background-color: green;
}

.preselected {
  background-color: red;
}

.none {
  background-color: blue;
}

#start-game {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
   -webkit-perspective: 2800px;
           perspective: 2800px;
  -webkit-perspective-origin: 0% 50%;
          perspective-origin: 0% 50%;
}

.form {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border:1px solid black;
  border-radius: var(--radius-gentle);
  width: 300px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  height: 200px;
  text-shadow: 1px 1px 1px black;
}

.form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: var(--radius-gentle);
  border: solid 1px grey;
  width: 200px;
}

.form input {
 /* -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;*/
  height: 30px;
  border: none;
  border-top-right-radius: var(--radius-gentle);
  border-bottom-right-radius: var(--radius-gentle);
  border-left: 1px solid grey;
  width: 80px;
  font-size: 1.3em;
  text-align: center;
  color: transparent;
  text-shadow: 0 0 0 var(--positiive-text-color);
}


.form span {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--tertiary-color);
  color: white;
  font-family: sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.form button {
  width: 202px;
  height: 32px;
  border: 1px solid grey;
  border-radius: var(--radius-gentle);
  background-color: var(--tertiary-color);
  color: var(--negative-text-color);
  font-family: sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.5em;
  text-shadow: 1px 1px 1px black;

}

button:hover {
  cursor: pointer;
}

.miss {
  background-color: blue;
}

.hit {
  background-color: red;
}

button.btn-spin {
  background-color: dodgerblue;
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 27px;
  letter-spacing: 0px;
}
button.btn-spin:focus {
  outline: none;
}

.side-a, .side-b {
  border-radius: var(--radius-gentle);
  background-color: var(--secondary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-perspective: 0;
  /*-webkit-backface-visibility: hidden;*/
  -webkit-transform: translate3d(0,0,0);
  visibility:visible;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  /*backface-visibility: hidden;*/
}

.side-b {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  color: white;
  font-size: 2.5em;
  text-shadow: 1px 1px 3px black;
}

.overlay span {
  position: absolute;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  white-space: nowrap;
}

.afterText {
  position:absolute;
  left:100%;
}







