table {
  border-collapse: collapse;
}

td {
  height: 50px;
  width: 50px;
  border: 1px solid black;
}

.selecting {
  background-color: yellow;
}

.selected {
  background-color: green;
}

.preselected {
  background-color: red;
}

.none {
  background-color: blue;
}